@page
@model RecruitCatsahilsethi160492.Pages.Profiles.BhaveshModel
@{
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About You</title>
    <style>
        th, td {
            border: 1px solid blue;
            padding: 7px;
            color: black;
        }

        table {
            border-collapse: collapse;
        }

        th {
            width: 10%;
            font-family: cursive;
        }

        h3 {
            color: black;
        }

        li {
            font-family: fantasy;
        }

        p {
            font-size: 14px;
        }

        table {
            width: max-content;
        }

        #timetable {
            font-size: 15px;
            =
        }
    </style>
</head>
<body>
    <h1>Bhawesh Joshi</h1>
    <div>
        <img width='150' height='150' style="float:left; margin-right: 10px" alt="Bhawesh Joshi" src="https://populous.com/wp-content/uploads/2018/01/James-Pearce_2018_web-e1535073472104.jpg">

        <p style="display: inline">
            Hello, My Name is Bhawesh Joshi. I am currently enrolled in Master in Information Systems at Lindler College of Business
            in University of Cincinnati, Ohio. I will be graduating in December 2022 and right now I am working as Graduate Teaching
            Assistant.
        </p>
        <p>
            I have a prior experience in <strong> DWH implementation</strong> .I worked predominatly as an <strong> ETL Developer</strong>.
            I think MSIS provides me with the right set of oppurtunies to grow in career and learn other tools like <strong> Tablaue  & Power BI</strong>.System analysis and design
            and data modelling also provides more in depth understanding how data modelling works having already previuosly gained experience in UDMH Model for Healthcare.

        </p>
    </div>
    <br><br>
    <hr>
    <p id="timetable"><b>My weekly schedule looks like:</b></p>
    <br><br>
    <table>
        <tr>
            <th>TIME\DAY</th>
            <th>MON</th>
            <th>TUE</th>
            <th>WEN</th>
            <th>THR</th>
            <th>FRI</th>
            <th>SAT</th>
        </tr>
        <tr>
            <td>8:00 AM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>9:00AM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>IS 7012-001 <br>Lecture 9:00AM - 12:50PM <br>Carl Lindner Hall 2125</td>

        </tr>
        <tr>
            <td>10:00AM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>11:00AM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>12:00PM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>BA 7077-001 <br>Lecture 12:20PM - 01:15PM <br>Carl H. Lindner Hall 1410</td>
            <td></td>
        </tr>
        <tr>
            <td>01:00PM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>02:00PM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>03:00PM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>04:00PM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>06:00PM </td>
            <td>IS 7020-001<br> Lecture 6:00PM - 09:50PM Carl H. Lindner Hall <br>4230</td>
            <td></td>
            <td>IS 7030-001<br> Lecture 6:00PM - 09:50PM <br>Carl H. Lindner Hall 3265</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>07:00PM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>08:00PM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>09:00PM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>10:00PM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <hr>
    <h3><u>Career Objectives</u></h3>
    <ul>
        <li>Data Analyst</li>
        <li>Healthcare Startup</li>

    </ul>
    <hr>
    <h3><u>Strengths</u></h3>
    <ul>
        <li>Diligent towards my work</li>
        <li>Team Player</li>
        <li>Organisation Skills</li>
    </ul>
    <hr>
    <h3>Hobbies</h3>
    <ul>
        <li>
            <h4>Formula1</h4>
            <img width='200' height='200' alt="Hobby1" src=https://www.formula1.com/content/dam/fom-website/manual/Misc/2020/Car-launches/Mercedes/M226201.jpg.transform/12col-retina/image.jpg>
            <br><br>
            <a href="https://www.formula1.com/">Formula 1 Website</a>
        </li>
        <li>
            <h4>Playing football</h4>
            <img width='200' height='200' alt="Hobby2" src=https://angelnumber.org/wp-content/uploads/2021/04/Spiritual-Meaning-of-Playing-Football-In-the-Dream-700x400.jpg>
            <br><br>
            <a href="https://www.skysports.com/">Football News</a>
        </li>
    </ul>
</body>
</html>
