@page
@model RecruitCatsahilsethi160492.Pages.Profiles.Sahil_SethiModel
@{
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About You</title>
    <style>
        th, td {
            border: 1px solid maroon;
            padding: 5px;
            color: brown;
        }

        table {
            border-collapse: collapse;
        }

        th {
            width: 10%;
            font-family: cursive;
        }

        h3 {
            color: brown;
        }

        li {
            font-family: fantasy;
        }

        p {
            font-size: 14px;
        }

        table {
            width: max-content;
        }

        #schedule {
            font-size: 15px;
        }
    </style>
</head>
<body style="background-image: url('https://www.ppt-backgrounds.net/thumbs/simple-process-powerpoint-template--93681600-presentation-ppt-backgrounds.jpg');">
    <h1>SAHIL SETHI</h1>
    <div>
        <img width='150' height='150' style="float:left; margin-right: 10px" alt="Sahil Sethi" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.6435-9/51954158_10219179701912642_9139832307312492544_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=pIpTijBcDfUAX_hwjxJ&_nc_ht=scontent.fluk1-1.fna&oh=37db5814599f26b546b4c84927a25876&oe=615F90AD">

        <p style="display: inline">
            Hello, My Name is Sahil Sethi. I am currently enrolled in Master in Information Systems at Lindler College of Business
            in University of Cincinnati, Ohio. I will be graduating in December 2022 and right now I am working as Graduate Teaching
            Assistant under Dr. Kong Dill Ko.
        </p>
        <p>
            Given my 5 year experience in the field of web development, I realized that a formal education is essential for my
            career growth and I was bullish that pursuing <b>MS-IS</b> from <b>University of Cincinnati</b>
            will help me accomplish this goal. The multi-disciplinary curriculum with courses such as
            <em>Data Modelling</em> and <em>System Analysis & Design</em> will help me further push towards my goal of
            becoming a successful <b>Product Manager</b>. University of Cincinnati grants me an ideal opportunity in honing my skills and boosts my career as a Technology Consultant specializing
            in Development Domain. In the years to come, I see myself fulfilling my long-term dream of
            building my own startup.
        </p>
    </div>
    <br><br>
    <hr>
    <p id="schedule"><b>My weekly schedule looks like:</b></p>
    <br><br>
    <table>
        <tr>
            <th>TIME\DAY</th>
            <th>MON</th>
            <th>TUE</th>
            <th>WEN</th>
            <th>THR</th>
            <th>FRI</th>
            <th>SAT</th>
        </tr>
        <tr>
            <td>8:00 AM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>9:00AM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>IS 7012-001 <br>Lecture 9:00AM - 12:50PM <br>Carl Lindner Hall 2125</td>

        </tr>
        <tr>
            <td>10:00AM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>11:00AM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>12:00PM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>BA 7077-001 <br>Lecture 12:20PM - 01:15PM <br>Carl H. Lindner Hall 1410</td>
            <td></td>
        </tr>
        <tr>
            <td>01:00PM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>02:00PM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>03:00PM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>04:00PM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>06:00PM </td>
            <td>IS 7020-001<br> Lecture 6:00PM - 09:50PM Carl H. Lindner Hall <br>4230</td>
            <td>IS 7011-001<br> Lecture 6:00PM - 09:50PM <br>Carl H. Lindner Hall 2120</td>
            <td>IS 7030-001<br> Lecture 6:00PM - 09:50PM <br>Carl H. Lindner Hall 3265</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>07:00PM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>08:00PM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>09:00PM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>10:00PM </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <hr>
    <h3><u>Career Objectives</u></h3>
    <ul>
        <li>Software Developer</li>
        <li>Consultant</li>
        <li>Game Developer</li>
    </ul>
    <hr>
    <h3><u>Strengths</u></h3>
    <ul>
        <li>Good Listener</li>
        <li>Team Player</li>
    </ul>
    <hr>
    <h3>Hobbies</h3>
    <ul>
        <li>
            <h4>Playing my Guitar</h4>
            <img width='200' height='200' alt="Hobby1" src=https://images.unsplash.com/photo-1564186763535-ebb21ef5277f?ixid =MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3VpdGFyfGVufDB8fDB8fA%3D%3D&ixlib =rb-1.2.1&auto =format&fit =crop&w =800&q =60>
            <br><br>
            <a href="https://www.guitarlessons.com">Guitar Learning Website</a>
        </li>
        <li>
            <h4>Playing football</h4>
            <img width='200' height='200' alt="Hobby2" src=https://angelnumber.org/wp-content/uploads/2021/04/Spiritual-Meaning-of-Playing-Football-In-the-Dream-700x400.jpg>
            <br><br>
            <a href="https://www.goal.com">Football News</a>
        </li>
    </ul>
</body>
</html>
