@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body {
            font-family: "Open Sans", sans-serif;
        }

        h2 {
            color: #333;
            text-align: center;
            text-transform: uppercase;
            font-family: "Roboto", sans-serif;
            font-weight: bold;
            position: relative;
            margin: 25px 0 50px
        }

        h2::after {
            content: "";
            width: 100px;
            position: absolute;
            margin: 0 auto;
            height: 3px;
            background: #ffdc12;
            left: 0;
            right: 0;
            bottom: -10px
        }

        .carousel {
            width: 650px;
            margin: 0 auto;
            padding-bottom: 50px
        }

        .carousel .item {
            color: #999;
            font-size: 14px;
            text-align: center;
            overflow: hidden;
            min-height: 340px
        }

            .carousel .item a {
                color: #eb7245
            }

        .carousel .img-box {
            width: 145px;
            height: 145px;
            margin: 0 auto;
            border-radius: 50%
        }

            .carousel .img-box img {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 50%
            }

        .carousel .testimonial {
            padding: 30px 0 10px
            }

        .testimonial {
            color: #000000;
            font: Times Roman
        }

        .carousel .overview {
            text-align: center;
            padding-bottom: 5px
        }

        .carousel .overview b {
            color: #333;
            font-size: 15px;
            text-transform: uppercase;
            display: block;
            padding-bottom: 5px
        }

        .carousel .star-rating i {
            font-size: 18px;
            color: #ffdc12
        }

        .carousel .carousel-control {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #999;
            text-shadow: none;
            top: 4px
        }

        .carousel-control i {
            font-size: 20px;
            margin-right: 2px
        }

        .carousel-control.left {
            left: auto;
            right: 40px
        }

        .carousel-control.right i {
            margin-right: -2px
        }

        .carousel .carousel-indicators {
            bottom: 15px
        }

        .carousel-indicators li,
        .carousel-indicators li.active {
            width: 11px;
            height: 11px;
            margin: 1px 5px;
            border-radius: 50%
        }

        .carousel-indicators li {
            background: #e2e2e2;
            border-color: transparent
        }

            .carousel-indicators li.active {
                border: none;
                background: #888
            }
    </style>
</head>
<body>
    <p class="mt-4 mb-4">
        FourThreeThree is your number one source for football news,merchandise, fan forums and trends.
    </p>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img style="height: 26rem" src="https://images.news18.com/ibnlive/uploads/2021/08/lionel-messi-2.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h4 class="card-title">Latest Football News</h4>
                    <p class="card-text">All the latest transfer news including all major leagues around the world. </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="https://www.thisisanfield.com/wp-content/uploads/3RD2021_FIRMINO_FRAME.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h4 class="card-title">Football Merchandise</h4>
                    <p class="card-text">All the major football clubs jerseys both home and away.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="https://i.guim.co.uk/img/media/564408902794fb1880309b56a2646a157e8a8959/100_738_3000_1800/master/3000.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=4eed73f268a29de12be23a1b92a24bf3" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h4 class="card-title">Fantasy Football</h4>
                    <p class="card-text">Create your fantasy team and compete with players around the world.</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <h4>Services Offered</h4>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h4>Premium Subscriptions</h4>
                <small>1 days ago</small>
            </div>
            <p>Get all the premimum content including special discounts, coupons on all jerseys before anyone else.</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action active">
            <div class="d-flex w-100 justify-content-between">
                <h4>Football Q/A</h4>
                <small>2 days ago</small>
            </div>
            <p>We have teamed up with some well known football journalists whom you can interact with just after the game with out Subscriptions.</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h4>Fan Forums</h4>
                <small>3 days ago</small>
            </div>
            <p>
                Interact with like minded fans to discuss your football team events and organise events through our special
                Connect feature.
            </p>
        </a>
    </div>
    <hr />
    <h4>Industries our company specialzes in</h4>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fields</th>
                    <th scope="col">Service</th>
                    <th scope="col">Years</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Retail</td>
                    <td>Digital Marketplace</td>
                    <td>Since 2015</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>FootballFashion</td>
                    <td>Retailing</td>
                    <td>Since 2017</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <h4>Testimonials</h4>
    <br />
    <div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol> <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item carousel-item active">
                    <div class="img-box"><img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmFuZG9tJTIwcGVyc29ufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt=""></div>
                    <p class="testimonial">Best football site in the whole world. Smooth Experience, cool content. Keep
                    innovating.</p>
                    <p class="overview"><b>Paula Wilsons</b>Ardent Arsenal Fan </p>
                    <div class="star-rating"> </div>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="https://i.imgur.com/8RKXAIV.jpg" alt=""></div>
                    <p class="testimonial">I can play fantasy football with my local league in it. I was looking for this feature
                    in so many websites. Finally my search came to an end. Awesome</p>
                    <p class="overview"><b>James Pearce</b>Media Analyst </p>
                    <div class="star-rating"> </div>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="https://i.imgur.com/J6l19aF.jpg" alt=""></div>
                    <p class="testimonial">All the news related to my favorite football team in one place. All the hassle for going to multiple
                    website ends here. Thanks guys.</p>
                    <p class="overview"><b>Barbara Alonso</b>Fitness Consultant</p>
                    <div class="star-rating"> </div>
                </div>
            </div> <!-- Carousel controls --> <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev"> <i class="fa fa-angle-left"></i> </a> <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next"> <i class="fa fa-angle-right"></i> </a>
        </div>
    </div>
    <hr />
    <div>
        <h4>Join our awesome Team!!</h4>
        <ul class="list-group" style="margin-bottom: 4rem;">
            <li class="list-group-item">Go over at apply section.</li>
            <li class="list-group-item">Find your desired role.</li>
            <li class="list-group-item">Upload your resume mentioning why you are perfect for the role</li>
            <li class="list-group-item">Just wait for our call.</li>
        </ul>

</div>
    <hr />
</body>
</html>

