@page
@model RecruitCatsahilsethi160492.Pages.OurTeamModel
@{
}
<html>
<head>
</head>
<body>
    <p>Our Recruitment team have 3 members:-</p>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img style="height: 21.75rem" src="https://scontent.fluk1-1.fna.fbcdn.net/v/t1.6435-9/51954158_10219179701912642_9139832307312492544_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=pIpTijBcDfUAX_hwjxJ&_nc_ht=scontent.fluk1-1.fna&oh=37db5814599f26b546b4c84927a25876&oe=615F90AD" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h4 class="card-title">Sahil Sethi</h4>
                    <p class="card-text">Technical Head</p>
                    <a class="btn btn-primary" asp-area="" asp-page="/Profiles/Sahil_sethi">View Profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="https://populous.com/wp-content/uploads/2018/01/James-Pearce_2018_web-e1535073472104.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h4 class="card-title">Bhavesh Joshi</h4>
                    <p class="card-text">Data Analyst</p>
                    <a class="btn btn-primary" asp-area="" asp-page="/Profiles/Bhavesh">View Profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="https://pbs.twimg.com/profile_images/502388353363222528/K-42XijY.jpeg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h4 class="card-title">Jacob Joseph</h4>
                    <p class="card-text">Content Head</p>
                    <a href="#" class="btn btn-primary">View Profile</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
